<h1 class="my-3">New game</h1>

<div class="letters">
  <% @letters.each do |letter| %>
    <div class="letter-div"><h3><%= letter %></h3></div>
  <% end %>
</div>

<form action="/score" data-turbo="false" method="post" class="form-inline mt-4">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag 'letters', @letters %>
  <label for="word" class="form-label">What is the longest word you can find?</label>
  <div class="input-group input-group-lg">
    <input type="text" name="word" class="form-control">
    <input type="submit" class="btn btn-outline-dark" value="Play">
  </div>
</form>
